h1{
    color: #333;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: uppercase; 
    margin-left: 30px;
}

.content{
    display: flex;
    width: 95%;
    flex-direction: column;
    margin: 60px auto 100px auto;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-family: 'Inconsolata', monospace;
    font-size: 48px;
    color: #333;
}
.content_text{
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 40px;
    font-family: 'Inconsolata', monospace;
    color:#4F4F4F;
    font-size: 18px;
    text-align: start;
}
.content_text,p{
    width: 328px;
}
.img_not-found{
    width: 100%;
}

.content_text-btn{
    padding: 20px;
    width: 216px;
    height: 68px;
    font-family: 'Inconsolata', monospace;
    background-color: #333333;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    border: none;
}


footer{
    text-align:center;
    height: 100px;
}
.content_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.created-by{
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.name_bold{
    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

@media (min-width:657px) {
    .content{
        flex-direction: row;
        width: 80%;
        gap: 10%;
        margin-top: 100px;
    }
    .content_text{
        width: 60%;
    }
    .content_img{
        width: 40%;
    }
    .img_not-found{
        width: 100%;
    }

}